.allClipboard {
  /* display: flex; */
  /* flex-direction: row; */
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto; */
  padding: 0px 15px 0px 15px;
  /* flex-wrap: wrap; */
  align-items: flex-start;
}

.singleClipboard {
  padding: 7px 15px;
  /* margin-right: 1rem; */
  /* width: 240px; */
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 2px 1px rgba(180, 180, 180, 0.3);
  word-break: break-all;
  margin: 0.5rem;
  background-color: white;
}

.clipboard-text {
}

.clipboard-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
}

.clipboard-content {  
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  /* padding-left: 30px; gutter size */
  background-clip: padding-box;
}

.dialogColor {
  background-color: white;
}



.c-general-input {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  resize: none;
}

.c-content-input {
  font-weight: 400;
  font-size: 16px;
}

.c-title-input {
  font-size: 18px;
  font-weight:600;
}

.dialog-bottom {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding-top: 8px;
  border-top: solid 1px black;
}